/* for slide */
// .slide-actions {
    
// }

.events-slider {
    .carousel-item-images {
        display: grid;
        gap: 14px;
    }
    .carousel-item-images:not(:has(:nth-child(5))) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .carousel-item-images:has(:nth-child(5)) {
        grid-auto-flow: column;
        grid-auto-columns: 20%;
        padding-block: 1rem;
        overflow-x: scroll;
    }

    .carousel-item-images img {
        width: 100%;    
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}